<%- layout("/layouts/boilerplate") %>

<body>
    <div class="row mt-3">
        <div class="col-8 offset-3">

    
          <h4><%=listingitem.title %></h4>
    </div>

    <div class="card col-6 offset-3 show-card listing-car">
        <img src="<%=listingitem.image%>" class="card-img-top show-img" alt="listing_img">
  <div class="card-body">
    <p class="card-text">

      <%= listingitem.description %> <br>
      &#8377;<%= listingitem.price.toLocaleString("en-IN") %><br>
      <%= listingitem.location %><br>
      <%= listingitem.country %><br>
    </p> 
  </div>
    </div>
    <br>

    <div class="btns mb-5">
        <a href="/listings/<%= listingitem._id%>/edit" class="btn btn-dark col-1 offset-3 edit-btn">Edit</a>
        <form method="post" action="/listings/<%= listingitem._id %>?_method=DELETE">
            <button class="btn btn-dark offset-5">Delete</button>
        </form>
    </div>

<div class="col-6 offset-3 mb-3">
  <hr>
  <h4> Leave a comment</h4>

  <form method="post" action="/listings/<%= listingitem._id%>/reviews" novalidate class="needs-validation">

    <div class="mb-3 mt-3">
      <label for="rating" class="form-label">Rating</label>
      <input type="range" min="1" max="5" name="review[rating]" class="form-range">
    </div>

    <div class="mb-3 mt-3">
      <label for="comment" class="form-label">Comments</label>
      <textarea name="review[comment]" id="comment" row="50" col="50" class="form-control" required></textarea>
      <div class="invalid-feedback">Please give some comment</div>
    </div><br>

    <button class="btn btn-outline-dark">Submit</button>
  </form>

</div>
<hr>


  <p><b>All Reviews</b></p>
  <% for(reviews of listingitem.review){ %>
<div class="card">
  <div class="card-body">
    <h5 class="card-title"> jane doe  </h5>
    <p class="card-text"> <%= reviews.comment%></p>
    <p class="card-text"> <%= reviews.rating %> Stars</p>

  </div>
</div>
  <%  } %>
    </div>
</div>

</body>
