<% layout("/layouts/Boilerplate") %>

<body>
    
    <h1> listing items</h1>

    <ul>
        <li> <%= listingitem.title %></li>
        <li> <%= listingitem.description %></li>
        <li> <%= listingitem.image %></li>
        <li> &#8377;<%= listingitem.price.toLocaleString("en-IN") %></li>
        <li> <%= listingitem.location %></li>
        <li> <%= listingitem.country %></li>
    </ul>

    <a href="/listings/<%= listingitem._id%>/edit">Edit Your Listing</a>
    <form method="post" action="/listings/<%= listingitem._id %>?_method=DELETE">
        <button>Delete your Listing</button>
    </form>
</body>
